In [17]:
import pandas as pd
df = pd.read_csv('diamonds.csv')

In [18]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

---

In [19]:
from dask.distributed import Client

client = Client(n_workers=2, threads_per_worker=1, memory_limit='1GB')

c:\Users\andru\anaconda3\lib\site-packages\distributed\node.py:160: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 63332 instead
  warnings.warn(

In [20]:
client

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [66]:
import dask.dataframe

ddf = dask.dataframe.read_csv('diamonds.csv', blocksize=1e6,assume_missing=True)

In [67]:
ddf

Dask DataFrame Structure:
              Unnamed: 0    carat     cut   color clarity    depth    table    price        x        y        z
npartitions=4
                 float64  float64  object  object  object  float64  float64  float64  float64  float64  float64
                     ...      ...     ...     ...     ...      ...      ...      ...      ...      ...      ...
                     ...      ...     ...     ...     ...      ...      ...      ...      ...      ...      ...
                     ...      ...     ...     ...     ...      ...      ...      ...      ...      ...      ...
                     ...      ...     ...     ...     ...      ...      ...      ...      ...      ...      ...
Dask Name: read-csv, 4 tasks

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [68]:
ddf.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1.0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2.0,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3.0,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4.0,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5.0,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [69]:
ddf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 11 entries, Unnamed: 0 to z
dtypes: object(3), float64(8)

In [77]:
import pandas as pd
f = ddf.compute()

In [78]:
f

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1.0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2.0,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3.0,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4.0,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5.0,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
3225,53936.0,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50
3226,53937.0,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
3227,53938.0,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56
3228,53939.0,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74
3229,53940.0,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64

In [44]:
ddf = ddf.drop(['Unnamed: 0'], axis=1)

In [45]:
ddf = ddf.categorize()

In [46]:
ddf.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [47]:
ddf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 10 entries, carat to z
dtypes: category(1), category(1), category(1), float64(7)

In [48]:
prepared = dask.dataframe.reshape.get_dummies(ddf)

In [49]:
prepared

Dask DataFrame Structure:
                 carat    depth    table    price        x        y        z cut_Ideal cut_Premium cut_Good cut_Very Good cut_Fair color_E color_I color_J color_H color_F color_G color_D clarity_SI2 clarity_SI1 clarity_VS1 clarity_VS2 clarity_VVS2 clarity_VVS1 clarity_I1 clarity_IF
npartitions=4
               float64  float64  float64  float64  float64  float64  float64     uint8       uint8    uint8         uint8    uint8   uint8   uint8   uint8   uint8   uint8   uint8   uint8       uint8       uint8       uint8       uint8        uint8        uint8      uint8      uint8
                   ...      ...      ...      ...      ...      ...      ...       ...         ...      ...           ...      ...     ...     ...     ...     ...     ...     ...     ...         ...         ...         ...         ...          ...          ...        ...        ...
                   ...      ...      ...      ...      ...      ...      ...       ...         ...      ...           ...      ...     ...     ...     ...     ...     ...     ...     ...         ...         ...         ...         ...          ...          ...        ...        ...
                   ...      ...      ...      ...      ...      ...      ...       ...         ...      ...           ...      ...     ...     ...     ...     ...     ...     ...     ...         ...         ...         ...         ...          ...          ...        ...        ...
                   ...      ...      ...      ...      ...      ...      ...       ...         ...      ...           ...      ...     ...     ...     ...     ...     ...     ...     ...         ...         ...         ...         ...          ...          ...        ...        ...
Dask Name: get_dummies, 16 tasks

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [50]:
prepared.head()

,carat,depth,table,price,x,y,z,cut_Ideal,cut_Premium,cut_Good,...,color_G,color_D,clarity_SI2,clarity_SI1,clarity_VS1,clarity_VS2,clarity_VVS2,clarity_VVS1,clarity_I1,clarity_IF
0,0.23,61.5,55.0,326.0,3.95,3.98,2.43,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0.21,59.8,61.0,326.0,3.89,3.84,2.31,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,0.23,56.9,65.0,327.0,4.05,4.07,2.31,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,0.29,62.4,58.0,334.0,4.20,4.23,2.63,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0.31,63.3,58.0,335.0,4.34,4.35,2.75,0,0,1,...,0,0,1,0,0,0,0,0,0,0

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [61]:
prepared.describe().compute()

,carat,depth,table,price,x,y,z,cut_Ideal,cut_Premium,cut_Good,...,color_G,color_D,clarity_SI2,clarity_SI1,clarity_VS1,clarity_VS2,clarity_VVS2,clarity_VVS1,clarity_I1,clarity_IF
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,...,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734,0.399537,0.255673,0.090953,...,0.209344,0.125603,0.170449,0.242214,0.151483,0.227253,0.093919,0.067760,0.013737,0.033185
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699,0.489808,0.436243,0.287545,...,0.406844,0.331404,0.376030,0.428427,0.358522,0.419061,0.291719,0.251337,0.116400,0.179121
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.480000,61.100000,56.000000,1206.000000,5.000000,5.000000,3.070000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.790000,61.900000,58.000000,2757.000000,5.920000,5.930000,3.650000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.070000,62.700000,59.000000,5219.000000,6.580000,6.900000,4.500000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [51]:
y = prepared.price.to_dask_array(lengths=True)

In [52]:
arr = prepared.drop('price', axis=1).to_dask_array(lengths=True)

In [53]:
from dask_ml.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(arr, y, test_size=0.1)

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [64]:
from dask_ml.linear_model import LinearRegression,PoissonRegression
from dask_ml import xgboost

lr = LinearRegression(solver='lbfgs', max_iter=10)
lr_model = lr.fit(X_train, y_train)

C:\Users\andru\AppData\Roaming\Python\Python39\site-packages\dask_xgboost\__init__.py:7: UserWarning: Dask-XGBoost has been deprecated and is no longer maintained. The functionality of this project has been included directly in XGBoost. To use Dask and XGBoost together, please use ``xgboost.dask`` instead https://xgboost.readthedocs.io/en/latest/tutorials/dask.html.
  warnings.warn(
c:\Users\andru\anaconda3\lib\site-packages\dask\config.py:595: UserWarning: Configuration key "fuse_ave_width" has been deprecated. Please use "optimization.fuse.ave-width" instead
  warnings.warn(
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n
c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [65]:
#p_model = PoissonRegression()
#p_model = lr.fit(X_train, y_train)

In [55]:
y_predicted = lr_model.predict(X_test)

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

In [57]:
from dask_ml.metrics import mean_squared_error, mean_absolute_error
from math import sqrt

sqrt(mean_squared_error(y_test, y_predicted))
mean_absolute_error(y_test, y_predicted)

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n

779.868908635758

c:\Users\andru\anaconda3\lib\statistics.py:168: RuntimeWarning: overflow encountered in long_scalars
  partials[d] = partials_get(d, 0) + n