17102022

Бруцкий-Стемпковский

v. 01


Подготовить данные для этапа моделирования (обучения)
    
1. Анализ данных, необходимые корректировки. 
2. Обработать пропуски. 
3. Оценить выбросы. 
4. Корреляция. 
5. Тест на нормальность распределения.
6. Масштабировать и стандартизировать данные.
7. Разделите данные на тренировачную и тестовую выборку.
8. При обработке пропусков/выбросов/скалировании тестовую и тренировачную выборку обрабатывать отдельно.

Необходимые импорты библиотек.

In [165]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as sp
import matplotlib.pyplot as plt
import pandas_profiling

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

Прочитаем фрейм. Переименуем колонки.

In [166]:
columns = [ 'id', 'gender', 'age', 
            'marital_status', 'job', 
            'sum_of_credit', 'credit_term',
            'tarrif_id', 'score_shk', 'edu', 
            'region', 'income', 'credit_count', 
            'overdue_credit_count', 'flag'
            ]
data = pd.read_csv('credit_train.csv', names=columns, skiprows=1, encoding='utf8', sep=';', decimal=",")
data.set_index("id", inplace=True)
data.head()

,gender,age,marital_status,job,sum_of_credit,credit_term,tarrif_id,score_shk,edu,region,income,credit_count,overdue_credit_count,flag
id,,,,,,,,,,,,,,
1,M,NaN,NaN,UMN,59998.00,10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
2,F,NaN,MAR,UMN,10889.00,6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
3,M,32.0,MAR,SPC,10728.00,12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
4,F,27.0,NaN,SPC,12009.09,12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
5,M,45.0,NaN,SPC,NaN,10,1.1,0.421385,SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

Проверим информацию о строках.

In [167]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170746 entries, 1 to 170746
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170746 non-null  object
 1   age                   170743 non-null  float64
 2   marital_status        170743 non-null  object
 3   job                   170746 non-null  object
 4   sum_of_credit         170744 non-null  float64
 5   credit_term           170746 non-null  int64
 6   tarrif_id             170746 non-null  object
 7   score_shk             170739 non-null  float64
 8   edu                   170741 non-null  object
 9   region                170554 non-null  object
 10  income                170741 non-null  float64
 11  credit_count          161516 non-null  float64
 12  overdue_credit_count  161516 non-null  float64
 13  flag                  170746 non-null  int64
dtypes: float64(6), int64(2), object(6)
memory usage: 19.5+ MB

Фрейм содержит 14 признаков. Как числовые, так и категориальные признаки. Целевой показатель (функция от всех остальных аргументов) зашит в последней колонке 'flag'.

Большое количество выбросов сдержится в категориях о количестве имеющихся непогашенных и просроченных кредитов. От выбросов в остальных колонка просто избавимся.

Можно было бы заменить значения отдельных столбцов на среднее для числовых значений (применим это для столбиков с кредитами), либо заменить на самое часто встречающееся для категориальных значений.

In [168]:
drop_columns = ['gender', 'age', 'marital_status', 'job', 'sum_of_credit', 'credit_term',
                'tarrif_id', 'score_shk', 'edu', 'region', 'income', 'flag']
data.dropna(subset=drop_columns, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170543 entries, 8 to 170746
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170543 non-null  object
 1   age                   170543 non-null  float64
 2   marital_status        170543 non-null  object
 3   job                   170543 non-null  object
 4   sum_of_credit         170543 non-null  float64
 5   credit_term           170543 non-null  int64
 6   tarrif_id             170543 non-null  object
 7   score_shk             170543 non-null  float64
 8   edu                   170543 non-null  object
 9   region                170543 non-null  object
 10  income                170543 non-null  float64
 11  credit_count          161331 non-null  float64
 12  overdue_credit_count  161331 non-null  float64
 13  flag                  170543 non-null  int64
dtypes: float64(6), int64(2), object(6)
memory usage: 19.5+ MB

Было удалено ~200 записей, что вполне приемлемо при общем количестве в 170 000.

По результатам анализа видно следующее:

1. Колонки 'gender', 'age', 'marital_status', 'job', 'credit_term', 'tarrif_id', 'edu', 'income', 'flag'
очищены от испорченных данных. То есть их тип соотвествует ожидаемому, нет выбросов.

2. Колонки 'sum_of_credit' и 'score_shk' имеют большое число пропусков, но заменять пропуски мы будем после разбивки на тренировочоный и тестовый сеты.

3. Колонка 'region' имеет 301 уникальное значение, представляющее собой как строковые записи (повторяются по своей сути, но не по значению), встречаются числовые значения (74 и 98), вероятно представляющие собой номера регионов (Челябинск и Санкт-Петербург соответсвенно).

Пока мы избавимся от колонки "region".

In [169]:
data_region = data["region"]
data.drop(["region"], axis=1, inplace=True)

Теперь заполним пропуски для обеих выборок в колонках о количестве кредитов, заменив их на среднее значение.

In [170]:
data["credit_count"].fillna(data["credit_count"].mean(), inplace=True)
data["overdue_credit_count"].fillna(data["overdue_credit_count"].mean(), inplace=True)

Для наглядного анализа данных применим библиотеку Pandas_profiling.

In [171]:
#pandas_profiling.ProfileReport(data)

In [172]:
data.describe()

,age,sum_of_credit,credit_term,score_shk,income,credit_count,overdue_credit_count,flag
count,170543.000000,170543.000000,170543.000000,170543.000000,170543.000000,170543.000000,170543.000000,170543.000000
mean,36.499845,26093.671464,10.980990,0.469446,40136.940508,2.107537,0.046061,0.176237
std,10.547081,16233.183098,3.537248,0.124255,25046.924003,1.728712,0.205710,0.381023
min,18.000000,2736.000000,3.000000,0.000000,5000.000000,0.000000,0.000000,0.000000
25%,28.000000,14908.000000,10.000000,0.379495,25000.000000,1.000000,0.000000,0.000000
50%,34.000000,21229.000000,10.000000,0.461559,35000.000000,2.000000,0.000000,0.000000
75%,43.000000,32068.000000,12.000000,0.552366,50000.000000,3.000000,0.000000,0.000000
max,71.000000,200000.000000,36.000000,1.128291,950000.000000,21.000000,3.000000,1.000000

Для дальнейшего анализа кодируем категориальные значения в числовые с помощью метода get_dammies. Оставшиеся категориальные солбцы удаляем, вместо них появятся новые числовые столбцы.

In [173]:
data = pd.concat([ data, 
                    pd.get_dummies(data['gender'], prefix="gender"),
                    pd.get_dummies(data['marital_status'], prefix="marital_status"),
                    pd.get_dummies(data['job'], prefix="job"),
                    pd.get_dummies(data['edu'], prefix="edu")],
                    axis=1)
data.drop(["gender", "marital_status", "job", "edu"], axis=1, inplace=True)

In [174]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170543 entries, 8 to 170746
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   age                   170543 non-null  float64
 1   sum_of_credit         170543 non-null  float64
 2   credit_term           170543 non-null  int64
 3   tarrif_id             170543 non-null  object
 4   score_shk             170543 non-null  float64
 5   income                170543 non-null  float64
 6   credit_count          170543 non-null  float64
 7   overdue_credit_count  170543 non-null  float64
 8   flag                  170543 non-null  int64
 9   gender_F              170543 non-null  uint8
 10  gender_M              170543 non-null  uint8
 11  marital_status_CIV    170543 non-null  uint8
 12  marital_status_DIV    170543 non-null  uint8
 13  marital_status_MAR    170543 non-null  uint8
 14  marital_status_UNM    170543 non-null  uint8
 15  marital_status_WID    170543 non-null  uint8
 16  job_ATP               170543 non-null  uint8
 17  job_BIS               170543 non-null  uint8
 18  job_BIU               170543 non-null  uint8
 19  job_DIR               170543 non-null  uint8
 20  job_HSK               170543 non-null  uint8
 21  job_INP               170543 non-null  uint8
 22  job_INV               170543 non-null  uint8
 23  job_NOR               170543 non-null  uint8
 24  job_ONB               170543 non-null  uint8
 25  job_PNA               170543 non-null  uint8
 26  job_PNI               170543 non-null  uint8
 27  job_PNS               170543 non-null  uint8
 28  job_PNV               170543 non-null  uint8
 29  job_SPC               170543 non-null  uint8
 30  job_UMN               170543 non-null  uint8
 31  job_WOI               170543 non-null  uint8
 32  job_WRK               170543 non-null  uint8
 33  job_WRP               170543 non-null  uint8
 34  edu_ACD               170543 non-null  uint8
 35  edu_GRD               170543 non-null  uint8
 36  edu_PGR               170543 non-null  uint8
 37  edu_SCH               170543 non-null  uint8
 38  edu_UGR               170543 non-null  uint8
dtypes: float64(6), int64(2), object(1), uint8(30)
memory usage: 17.9+ MB

Тест Шапиро-Уилка

In [175]:
def normal_test(ser):
    stat, p = sp.stats.shapiro(ser)

    alpha = 0.05
    if p > alpha:
        return 'Похоже на нормальное распределение'
    else:
        return 'Не похоже на нормальное распределение'

In [176]:
for name in data.columns[:9]:
    print(name, normal_test(data[name]))

c:\Users\Николай\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_morestats.py:1800: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

age Не похоже на нормальное распределение
sum_of_credit Не похоже на нормальное распределение
credit_term Не похоже на нормальное распределение

TypeError: ufunc 'divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [177]:
corr_matrix = data.corr()

C:\Users\Николай\AppData\Local\Temp\ipykernel_7792\962194556.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = data.corr()

In [178]:
corr_matrix

,age,sum_of_credit,credit_term,score_shk,income,credit_count,overdue_credit_count,flag,gender_F,gender_M,...,job_SPC,job_UMN,job_WOI,job_WRK,job_WRP,edu_ACD,edu_GRD,edu_PGR,edu_SCH,edu_UGR
age,1.000000,-0.096471,0.007131,-0.166144,-0.014842,1.118157e-01,7.520229e-03,-0.031196,0.125474,-0.125474,...,-0.157929,-0.001372,-0.004556,-0.009950,0.050190,0.002920,-0.060589,-0.004851,0.119628,-0.126568
sum_of_credit,-0.096471,1.000000,0.228409,0.054343,0.351380,1.539512e-02,-3.826026e-03,-0.072059,-0.033999,0.033999,...,-0.071839,0.066994,-0.004857,-0.013535,-0.004628,0.008477,0.178794,0.019074,-0.188456,0.019217
credit_term,0.007131,0.228409,1.000000,0.040412,0.007686,4.914018e-02,6.299802e-03,0.025792,-0.001873,0.001873,...,-0.004284,-0.011274,0.006527,0.000334,0.008886,-0.005095,0.009098,0.013551,-0.007704,-0.005545
score_shk,-0.166144,0.054343,0.040412,1.000000,-0.107384,-8.968154e-02,1.628305e-01,0.048825,0.012532,-0.012532,...,0.037298,-0.044455,0.004226,0.017509,-0.003622,-0.013574,-0.249142,-0.036329,0.223533,0.059213
income,-0.014842,0.351380,0.007686,-0.107384,1.000000,1.440034e-01,3.312977e-02,-0.023683,-0.202210,0.202210,...,-0.156368,0.126143,-0.007541,-0.007710,-0.001295,0.025608,0.214287,0.049345,-0.228828,0.021200
credit_count,0.111816,0.015395,0.049140,-0.089682,0.144003,1.000000e+00,1.773034e-01,0.034084,0.014413,-0.014413,...,-0.023931,0.026341,-0.000867,0.009296,0.014065,0.005650,0.030812,0.014504,-0.025246,-0.015325
overdue_credit_count,0.007520,-0.003826,0.006300,0.162831,0.033130,1.773034e-01,1.000000e+00,0.022254,-0.001388,0.001388,...,-0.011331,0.011290,0.001102,0.005333,-0.001146,0.001325,0.021411,0.007458,-0.019982,-0.004523
flag,-0.031196,-0.072059,0.025792,0.048825,-0.023683,3.408431e-02,2.225362e-02,1.000000,-0.044381,0.044381,...,-0.049172,0.011600,0.007448,0.001340,0.002191,0.003775,-0.082448,0.002257,0.078409,0.005739
gender_F,0.125474,-0.033999,-0.001873,0.012532,-0.202210,1.441327e-02,-1.387895e-03,-0.044381,1.000000,-1.000000,...,0.023363,-0.022490,0.002099,-0.018738,0.003628,-0.008714,0.075324,-0.007261,-0.063785,-0.020158
gender_M,-0.125474,0.033999,0.001873,-0.012532,0.202210,-1.441327e-02,1.387895e-03,0.044381,-1.000000,1.000000,...,-0.023363,0.022490,-0.002099,0.018738,-0.003628,0.008714,-0.075324,0.007261,0.063785,0.020158
marital_status_CIV,-0.021459,-0.002004,0.014252,0.012241,-0.005181,7.936573e-03,3.839294e-03,0.010599,0.024811,-0.024811,...,0.010027,-0.013811,0.003621,0.018875,-0.002543,-0.000955,-0.018955,0.005338,0.013729,0.009505
marital_status_DIV,0.113917,-0.028037,-0.001809,0.008394,-0.011716,2.767089e-02,7.651078e-03,0.005186,0.113130,-0.113130,...,-0.011199,0.004358,-0.000435,0.000557,0.000046,0.000281,-0.000996,0.001981,0.012008,-0.024047
marital_status_MAR,0.132386,-0.034448,-0.006022,-0.148179,0.063759,5.440331e-02,1.390658e-02,-0.067121,-0.093879,0.093879,...,-0.020805,0.013234,-0.005371,-0.008750,-0.002565,0.001471,0.035498,0.001050,-0.005316,-0.064016
marital_status_UNM,-0.281235,0.066029,0.001735,0.148656,-0.044509,-8.667799e-02,-2.148156e-02,0.061406,-0.015750,0.015750,...,0.040882,-0.005915,0.004351,0.003636,-0.006314,-0.001360,-0.017200,-0.002999,-0.023336,0.087012
marital_status_WID,0.233036,-0.032390,0.003757,0.005955,-0.048943,2.370243e-02,6.453506e-04,0.013566,0.115143,-0.115143,...,-0.047316,-0.021421,0.001682,-0.002917,0.032327,-0.000294,-0.046063,-0.003972,0.054340,-0.017738
job_ATP,-0.007335,-0.038958,0.013001,0.029410,-0.053659,-1.450605e-02,-3.766170e-03,0.038222,0.007670,-0.007670,...,-0.249254,-0.043824,-0.005866,-0.008015,-0.003277,0.000459,-0.067366,-0.002611,0.064084,0.006025
job_BIS,0.044598,0.072259,-0.001620,-0.007730,0.142599,6.007467e-03,4.767971e-03,-0.008527,-0.033949,0.033949,...,-0.355435,-0.062493,-0.008365,-0.011430,-0.004673,-0.000660,0.019412,0.006028,-0.015383,-0.009556
job_BIU,-0.001943,0.004124,0.013141,0.002656,0.001489,-8.993638e-03,8.824945e-04,0.013477,-0.013159,0.013159,...,-0.052544,-0.009238,-0.001237,-0.001690,-0.000691,-0.000681,-0.003741,-0.001568,-0.002849,0.014438
job_DIR,0.045530,0.080425,-0.009519,-0.042842,0.163867,3.151620e-02,1.096687e-02,-0.011061,-0.038413,0.038413,...,-0.289631,-0.050923,-0.006816,-0.009314,-0.003808,0.015414,0.095147,0.031037,-0.096435,-0.004293
job_HSK,-0.000487,-0.005391,-0.002142,0.001473,-0.002430,-4.883337e-03,-1.533609e-03,0.001326,0.006586,-0.006586,...,-0.013235,-0.002327,-0.000311,-0.000426,-0.000174,-0.000172,-0.005890,-0.000395,0.003252,0.005610
job_INP,0.006002,0.011214,0.014323,-0.008028,0.038174,1.238468e-02,5.584787e-03,0.010048,-0.009127,0.009127,...,-0.072693,-0.012781,-0.001711,-0.002338,-0.000956,0.017758,-0.003935,0.008697,-0.002048,0.008647
job_INV,0.005699,-0.003345,0.003703,0.000652,-0.003125,-4.721945e-03,-1.212413e-03,0.008864,0.000872,-0.000872,...,-0.010463,-0.001840,-0.000246,-0.000336,-0.000138,-0.000136,-0.004657,-0.000312,0.005279,-0.001346
job_NOR,-0.014214,-0.008357,0.011309,0.019351,-0.007822,-8.890878e-03,-2.528417e-04,0.027293,-0.004819,0.004819,...,-0.108605,-0.019095,-0.002556,-0.003492,-0.001428,0.002771,-0.010439,0.009509,0.002447,0.014187
job_ONB,-0.003329,-0.001819,-0.005464,-0.003568,-0.002237,-6.537788e-17,4.030629e-19,0.005235,-0.002518,0.002518,...,-0.004679,-0.000823,-0.000110,-0.000150,-0.000062,-0.000061,-0.002083,-0.000140,0.002361,-0.000602
job_PNA,0.329723,-0.061302,0.018878,0.002478,-0.110062,-1.669094e-02,-8.352541e-03,0.076921,0.066042,-0.066042,...,-0.303402,-0.053344,-0.007140,-0.009756,-0.003989,-0.000878,-0.063660,-0.004391,0.077741,-0.030374
job_PNI,0.014854,-0.009704,0.009617,-0.004037,-0.015412,-5.887912e-03,-2.844577e-03,0.006737,-0.005274,0.005274,...,-0.037733,-0.006634,-0.000888,-0.001213,-0.000496,-0.000489,-0.006463,-0.001126,0.004613,0.004126
job_PNS,0.019420,0.004938,0.005974,0.000417,-0.000183,-5.218242e-04,-1.878301e-03,0.007128,0.005268,-0.005268,...,-0.016210,-0.002850,-0.000381,-0.000521,-0.000213,-0.000210,-0.001558,-0.000484,-0.001611,0.006871
job_PNV,0.024797,-0.004817,0.001490,-0.007031,-0.010275,1.064566e-03,3.790601e-04,0.001960,-0.009797,0.009797,...,-0.029598,-0.005204,-0.000697,-0.000952,-0.000389,-0.000384,-0.001554,0.005781,0.002676,-0.003808
job_SPC,-0.157929,-0.071839,-0.004284,0.037298,-0.156368,-2.393070e-02,-1.133107e-02,-0.049172,0.023363,-0.023363,...,1.000000,-0.656539,-0.087882,-0.120079,-0.049093,-0.018586,-0.087814,-0.037162,0.086736,0.011356
job_UMN,-0.001372,0.066994,-0.011274,-0.044455,0.126143,2.634140e-02,1.128998e-02,0.011600,-0.022490,0.022490,...,-0.656539,1.000000,-0.015451,-0.021112,-0.008631,0.010707,0.133383,0.032003,-0.131077,-0.010805
job_WOI,-0.004556,-0.004857,0.006527,0.004226,-0.007541,-8.665554e-04,1.101599e-03,0.007448,0.002099,-0.002099,...,-0.087882,-0.015451,1.000000,-0.002826,-0.001155,0.009180,-0.017159,-0.000374,-0.000896,0.037250
job_WRK,-0.009950,-0.013535,0.000334,0.017509,-0.007710,9.296087e-03,5.332695e-03,0.001340,-0.018738,0.018738,...,-0.120079,-0.021112,-0.002826,1.000000,-0.001579,0.009792,-0.030065,-0.001934,0.020785,0.018533
job_WRP,0.050190,-0.004628,0.008886,-0.003622,-0.001295,1.406518e-02,-1.145858e-03,0.002191,0.003628,-0.003628,...,-0.049093,-0.008631,-0.001155,-0.001579,1.000000,0.017810,-0.006899,0.002555,-0.002031,0.016370
edu_ACD,0.002920,0.008477,-0.005095,-0.013574,0.025608,5.649789e-03,1.324624e-03,0.003775,-0.008714,0.008714,...,-0.018586,0.010707,0.009180,0.009792,0.017810,1.000000,-0.021548,-0.001445,-0.025700,-0.006229
edu_GRD,-0.060589,0.178794,0.009098,-0.249142,0.214287,3.081225e-02,2.141145e-02,-0.082448,0.075324,-0.075324,...,-0.087814,0.133383,-0.017159,-0.030065,-0.006899,-0.021548,1.000000,-0.049583,-0.882112,-0.213816
edu_PGR,-0.004851,0.019074,0.013551,-0.036329,0.049345,1.450407e-02,7.458208e-03,0.002257,-0.007261,0.007261,...,-0.037162,0.032003,-0.000374,-0.001934,0.002555,-0.001445,-0.049583,1.000000,-0.059136,-0.014334
edu_SCH,0.119628,-0.188456,-0.007704,0.223533,-0.228828,-2.524646e-02,-1.998198e-02,0.078409,-0.063785,0.063785,...,0.086736,-0.131077,-0.000896,0.020785,-0.002031,-0.025700,-0.882112,-0.059136,1.000000,-0.255011
edu_UGR,-0.126568,0.019217,-0.005545,0.059213,0.021200,-1.532500e-02,-4.523137e-03,0.005739,-0.020158,0.020158,...,0.011356,-0.010805,0.037250,0.018533,0.016370,-0.006229,-0.213816,-0.014334,-0.255011,1.000000

Разделим сет на тренировочную и тестовую выборки в отношении 70/30 соответсвенно. Деление выполним с помощью библиотеки sklearn. Указанные параметры указывают на то, что размер тестовой выборки будет составлять 30 %, а повторное деление сета даст тот же результат, что и при первом запуске. Далее показатель random_state можно удалить и тогда деление будет осуществляться каим-то новым образом.

In [179]:
train, test = train_test_split(data, test_size=0.3, random_state = 1)

Для дальнейшей работы обновим список индекссов.

In [180]:
train.set_index(np.arange(len(train)), inplace=True)
test.set_index(np.arange(len(test)), inplace=True)

Выполним нормализацию сетов по некатегориальным значениям. Для этого разделим сет на две части.

In [183]:
st_columns = ["age", "sum_of_credit", "credit_term", "income", "credit_count", "overdue_credit_count"]

no_st_columns = list(data.columns)

for _ in st_columns:
    no_st_columns.remove(_)

train_st_copy = train[st_columns].copy()
test_st_copy = test[st_columns].copy()

train_no_st_st_copy = train[no_st_columns].copy()
test_no_st_copy = test[no_st_columns].copy()

scaler = StandardScaler()

d = scaler.fit_transform(train_st_copy)
train_st_copy = pd.DataFrame(d, columns = st_columns)

d = scaler.fit_transform(test_st_copy)
test_st_copy = pd.DataFrame(d, columns = st_columns)

"Склеим" обратно нормализованную и категориальные части сета между собой.

In [185]:
train_st = pd.concat([train_st_copy, train[no_st_columns]], axis=1)
test_st  = pd.concat([test_st_copy, test[no_st_columns]], axis=1)

Выделим из сетов колонки с "аргуменами" и "функцией".

In [186]:
y_train, x_train = train_st["flag"], train_st.drop(["flag"], axis=1)
y_test, x_test = test_st["flag"], test_st.drop(["flag"], axis=1)

Натренируем случайный лес.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 10,  max_depth=5,  random_state=21)
rfc.fit(x_train, y_train)
rfc.score (x_test, y_test)

Выполним AUC оценку.

In [ ]:
y_pred = rfc.predict_proba(x_test)[:, 1]
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred)