17102022

Бруцкий-Стемпковский

v. 01


Подготовить данные для этапа моделирования (обучения)
    
1. Анализ данных, необходимые корректировки. 
2. Обработать пропуски. 
3. Оценить выбросы. 
4. Корреляция. 
5. Тест на нормальность распределения.
6. Масштабировать и стандартизировать данные.
7. Разделите данные на тренировачную и тестовую выборку.
8. При обработке пропусков/выбросов/скалировании тестовую и тренировачную выборку обрабатывать отдельно.

Необходимые импорты библиотек.

In [52]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as sp
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

Прочитаем фрейм. Переименуем колонки.

In [53]:
columns = [ 'id', 'gender', 'age', 
            'marital_status', 'job', 
            'sum_of_credit', 'credit_term',
            'tarrif_id', 'score_shk', 'edu', 
            'region', 'income', 'credit_count', 
            'overdue_credit_count', 'flag'
            ]
data = pd.read_csv('credit_train.csv', names=columns, skiprows=1, encoding='utf8', sep=';', thousands=",")
data.set_index("id", inplace=True)
data.head()

,gender,age,marital_status,job,sum_of_credit,credit_term,tarrif_id,score_shk,edu,region,income,credit_count,overdue_credit_count,flag
id,,,,,,,,,,,,,,
1,M,NaN,NaN,UMN,5999800.0,10,1.6,NaN,GRD,КРАСНОДАРСКИЙ КРАЙ,30000.0,1.0,1.0,0
2,F,NaN,MAR,UMN,1088900.0,6,1.1,NaN,NaN,МОСКВА,NaN,2.0,0.0,0
3,M,32.0,MAR,SPC,1072800.0,12,1.1,NaN,NaN,ОБЛ САРАТОВСКАЯ,NaN,5.0,0.0,0
4,F,27.0,NaN,SPC,1200909.0,12,1.1,NaN,NaN,ОБЛ ВОЛГОГРАДСКАЯ,NaN,2.0,0.0,0
5,M,45.0,NaN,SPC,NaN,10,1.1,421385.0,SCH,ЧЕЛЯБИНСКАЯ ОБЛАСТЬ,NaN,1.0,0.0,0

Проверим информацию о строках.

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170746 entries, 1 to 170746
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170746 non-null  object
 1   age                   170743 non-null  float64
 2   marital_status        170743 non-null  object
 3   job                   170746 non-null  object
 4   sum_of_credit         170744 non-null  float64
 5   credit_term           170746 non-null  int64
 6   tarrif_id             170746 non-null  float64
 7   score_shk             170739 non-null  float64
 8   edu                   170741 non-null  object
 9   region                170554 non-null  object
 10  income                170741 non-null  float64
 11  credit_count          161516 non-null  float64
 12  overdue_credit_count  161516 non-null  float64
 13  flag                  170746 non-null  int64
dtypes: float64(7), int64(2), object(5)
memory usage: 19.5+ MB

Фрейм содержит 14 признаков. Как числовые, так и категориальные признаки. Целевой показатель (функция от всех остальных аргументов) зашит в последней колонке 'flag'.

Большое количество выбросов сдержится в категориях о количестве имеющихся непогашенных и просроченных кредитов. От выбросов в остальных колонка просто избавимся.

Можно было бы заменить значения отдельных столбцов на среднее для числовых значений (применим это для столбиков с кредитами), либо заменить на самое часто встречающееся для категориальных значений.

In [55]:
drop_columns = [ 
            'gender', 'age', 'marital_status', 'job', 'sum_of_credit', 'credit_term',
            'tarrif_id', 'score_shk', 'edu', 'region', 'income', 'flag'
            ]
data.dropna(subset=drop_columns, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170543 entries, 8 to 170746
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                170543 non-null  object
 1   age                   170543 non-null  float64
 2   marital_status        170543 non-null  object
 3   job                   170543 non-null  object
 4   sum_of_credit         170543 non-null  float64
 5   credit_term           170543 non-null  int64
 6   tarrif_id             170543 non-null  float64
 7   score_shk             170543 non-null  float64
 8   edu                   170543 non-null  object
 9   region                170543 non-null  object
 10  income                170543 non-null  float64
 11  credit_count          161331 non-null  float64
 12  overdue_credit_count  161331 non-null  float64
 13  flag                  170543 non-null  int64
dtypes: float64(7), int64(2), object(5)
memory usage: 19.5+ MB

In [56]:
data.head()

,gender,age,marital_status,job,sum_of_credit,credit_term,tarrif_id,score_shk,edu,region,income,credit_count,overdue_credit_count,flag
id,,,,,,,,,,,,,,
8,F,26.0,UNM,SPC,4787800.0,10,1.1,512525.0,GRD,МОСКОВСКАЯ ОБЛ,60000.0,3.0,0.0,0
10,F,32.0,UNM,SPC,2626800.0,10,1.1,465026.0,GRD,КРАЙ СТАВРОПОЛЬСКИЙ,39500.0,7.0,0.0,0
11,M,26.0,MAR,SPC,1679300.0,14,1.0,445430.0,SCH,САНКТ-ПЕТЕРБУРГ,36000.0,2.0,0.0,0
13,M,37.0,MAR,SPC,4228900.0,10,1.6,691609.0,SCH,ОБЛ АРХАНГЕЛЬСКАЯ,70000.0,1.0,0.0,0
14,M,43.0,MAR,INP,5756700.0,10,1.1,341164.0,GRD,ХАНТЫ-МАНСИЙСКИЙ АО,60000.0,7.0,0.0,0

С помощью метода .unique() исследуем отдельные колонки на нехарактерные значения.

In [57]:
"""file_obj = open("uniq_values.txt", "w")
columns = [ 'gender', 'age', 
            'marital_status', 'job', 
            'credit_term', 'tarrif_id', 'edu', 
            'region', 'credit_count', 
            'overdue_credit_count', 'flag'
            ]
for index in columns:
    file_obj.write(f"\n{index}\n\n")
    [file_obj.write(str(data[index].unique()[_]) + "\n") for _ in range(len(data[index].unique()))]
file_obj.close()""";

По результатам анализа видно следующее:

1. Колонки 'gender', 'age', 'marital_status', 'job', 'credit_term', 'tarrif_id', 'edu', 'income', 'flag'
очищены от испорченных данных. То есть их тип соотвествует ожидаемому, нет выбросов.

2. Колонки 'sum_of_credit' и 'score_shk' имеют большое число пропусков, но заменять пропуски мы будем после разбивки на тренировочоный и тестовый сеты.

3. Колонка 'region' имеет 301 уникальное значение, представляющее собой как строковые записи (повторяются по своей сути, но не по значению), встречаются числовые значения (74 и 98), вероятно представляющие собой номера регионов (Челябинск и Санкт-Петербург соответсвенно).

В этой версии мы избавимся от колонки "region".

In [58]:
data.drop(["region"], axis=1, inplace=True)

Разделим сет на тренировочную и тестовую выборки в отношении 70/30 соответсвенно. Деление выполним с помощью библиотеки sklearn. Указанные параметры указывают на то, что размер тестовой выборки будет составлять 30 %, а повторное деление сета даст тот же результат, что и при первом запуске. Далее показатель random_state можно удалить и тогда деление будет осуществляться каим-то новым образом.

In [59]:
train, test = train_test_split(data, test_size=0.3, random_state=2)

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119380 entries, 8155 to 89368
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   gender                119380 non-null  object
 1   age                   119380 non-null  float64
 2   marital_status        119380 non-null  object
 3   job                   119380 non-null  object
 4   sum_of_credit         119380 non-null  float64
 5   credit_term           119380 non-null  int64
 6   tarrif_id             119380 non-null  float64
 7   score_shk             119380 non-null  float64
 8   edu                   119380 non-null  object
 9   income                119380 non-null  float64
 10  credit_count          112895 non-null  float64
 11  overdue_credit_count  112895 non-null  float64
 12  flag                  119380 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 12.8+ MB

In [61]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51163 entries, 1019 to 40557
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                51163 non-null  object
 1   age                   51163 non-null  float64
 2   marital_status        51163 non-null  object
 3   job                   51163 non-null  object
 4   sum_of_credit         51163 non-null  float64
 5   credit_term           51163 non-null  int64
 6   tarrif_id             51163 non-null  float64
 7   score_shk             51163 non-null  float64
 8   edu                   51163 non-null  object
 9   income                51163 non-null  float64
 10  credit_count          48436 non-null  float64
 11  overdue_credit_count  48436 non-null  float64
 12  flag                  51163 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 5.5+ MB

Теперь заполним пропуски для обеих выборок в колонках о количестве кредитов, заменив их на среднее значение.

In [62]:
train["credit_count"].fillna(train["credit_count"].mean(), inplace=True)
train["overdue_credit_count"].fillna(train["overdue_credit_count"].mean(), inplace=True)

test["credit_count"].fillna(test["credit_count"].mean(), inplace=True)
test["overdue_credit_count"].fillna(test["overdue_credit_count"].mean(), inplace=True)

Запишем получившиеся последовательности в csv-файлы.

In [63]:
train.to_csv("./v1/train.csv")
test.to_csv("./v1/test.csv")

Применим станартизацию к отдельным колонкам фрейма.

In [64]:
st_columns = ["age", "sum_of_credit", "credit_term", "income", "credit_count", "overdue_credit_count"]
no_st_columns = ['gender', 'marital_status', 'job', 'tarrif_id', 'score_shk', 'edu', 'flag']

train_st_copy = train[st_columns].copy()
test_st_copy = test[st_columns].copy()

In [65]:
scaler = StandardScaler()

d = scaler.fit_transform(train_st_copy)
train_st_copy = pd.DataFrame(d, columns = st_columns)
train_st_copy =pd.concat([train_st_copy, train[no_st_columns]], axis=1)

d = scaler.fit_transform(test_st_copy)
test_st_copy = pd.DataFrame(d, columns = st_columns)
test_st_copy =pd.concat([test_st_copy, test[no_st_columns]], axis=1)

In [66]:
train_st_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155274 entries, 0 to 162282
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   age                   119380 non-null  float64
 1   sum_of_credit         119380 non-null  float64
 2   credit_term           119380 non-null  float64
 3   income                119380 non-null  float64
 4   credit_count          119380 non-null  float64
 5   overdue_credit_count  119380 non-null  float64
 6   gender                119380 non-null  object
 7   marital_status        119380 non-null  object
 8   job                   119380 non-null  object
 9   tarrif_id             119380 non-null  float64
 10  score_shk             119380 non-null  float64
 11  edu                   119380 non-null  object
 12  flag                  119380 non-null  float64
dtypes: float64(9), object(4)
memory usage: 16.6+ MB

In [67]:
test_st_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87044 entries, 0 to 141823
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   51163 non-null  float64
 1   sum_of_credit         51163 non-null  float64
 2   credit_term           51163 non-null  float64
 3   income                51163 non-null  float64
 4   credit_count          51163 non-null  float64
 5   overdue_credit_count  51163 non-null  float64
 6   gender                51163 non-null  object
 7   marital_status        51163 non-null  object
 8   job                   51163 non-null  object
 9   tarrif_id             51163 non-null  float64
 10  score_shk             51163 non-null  float64
 11  edu                   51163 non-null  object
 12  flag                  51163 non-null  float64
dtypes: float64(9), object(4)
memory usage: 9.3+ MB

In [68]:
train.describe()

,age,sum_of_credit,credit_term,tarrif_id,score_shk,income,credit_count,overdue_credit_count,flag
count,119380.000000,1.193800e+05,119380.000000,119380.000000,1.193800e+05,119380.000000,119380.000000,119380.000000,119380.000000
mean,36.488222,2.610830e+06,10.974610,1.324572,4.692243e+05,40136.867524,2.108809,0.045786,0.175867
std,10.545115,1.624484e+06,3.527895,0.235919,1.244182e+05,24961.937325,1.726641,0.205070,0.380709
min,18.000000,3.000000e+05,3.000000,1.000000,0.000000e+00,6000.000000,0.000000,0.000000,0.000000
25%,28.000000,1.488375e+06,10.000000,1.100000,3.790640e+05,25000.000000,1.000000,0.000000,0.000000
50%,34.000000,2.125954e+06,10.000000,1.320000,4.612780e+05,35000.000000,2.000000,0.000000,0.000000
75%,43.000000,3.205985e+06,12.000000,1.600000,5.525800e+05,50000.000000,3.000000,0.000000,0.000000
max,71.000000,2.000000e+07,36.000000,1.940000,1.054699e+06,950000.000000,21.000000,3.000000,1.000000

In [69]:
test.describe()

,age,sum_of_credit,credit_term,tarrif_id,score_shk,income,credit_count,overdue_credit_count,flag
count,51163.000000,5.116300e+04,51163.000000,51163.000000,5.116300e+04,51163.000000,51163.000000,51163.000000,51163.000000
mean,36.526963,2.605954e+06,10.995876,1.322366,4.699636e+05,40137.110803,2.104571,0.046701,0.177101
std,10.551720,1.620607e+06,3.558966,0.235596,1.238728e+05,25244.358116,1.733547,0.207195,0.381758
min,18.000000,2.736000e+05,3.000000,1.000000,0.000000e+00,5000.000000,0.000000,0.000000,0.000000
25%,28.000000,1.495700e+06,10.000000,1.100000,3.804070e+05,25000.000000,1.000000,0.000000,0.000000
50%,34.000000,2.116700e+06,10.000000,1.320000,4.621600e+05,35000.000000,2.000000,0.000000,0.000000
75%,43.000000,3.207350e+06,12.000000,1.600000,5.519060e+05,50000.000000,3.000000,0.000000,0.000000
max,71.000000,2.000000e+07,36.000000,1.960000,1.128291e+06,900000.000000,18.000000,3.000000,1.000000

Приведенные выше таблицы есть своего рода оценки выбросов. Размах свыше трёх std имеется по существу во всех колонках.

Для дальнейшего анализа кодируем категориальные значения в числовые с помощью метода get_dammies. Оставшиеся категориальные солбцы удаляем, вместо них появятся новые числовые столбцы.

In [70]:
train = pd.concat([ train, 
                    pd.get_dummies(train['gender'], prefix="gender"),
                    pd.get_dummies(train['marital_status'], prefix="marital_status"),
                    pd.get_dummies(train['job'], prefix="job"),
                    pd.get_dummies(train['edu'], prefix="edu")],
                    axis=1)
train.drop(["gender", "marital_status", "job", "edu"], axis=1, inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119380 entries, 8155 to 89368
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   age                   119380 non-null  float64
 1   sum_of_credit         119380 non-null  float64
 2   credit_term           119380 non-null  int64
 3   tarrif_id             119380 non-null  float64
 4   score_shk             119380 non-null  float64
 5   income                119380 non-null  float64
 6   credit_count          119380 non-null  float64
 7   overdue_credit_count  119380 non-null  float64
 8   flag                  119380 non-null  int64
 9   gender_F              119380 non-null  uint8
 10  gender_M              119380 non-null  uint8
 11  marital_status_CIV    119380 non-null  uint8
 12  marital_status_DIV    119380 non-null  uint8
 13  marital_status_MAR    119380 non-null  uint8
 14  marital_status_UNM    119380 non-null  uint8
 15  marital_status_WID    119380 non-null  uint8
 16  job_ATP               119380 non-null  uint8
 17  job_BIS               119380 non-null  uint8
 18  job_BIU               119380 non-null  uint8
 19  job_DIR               119380 non-null  uint8
 20  job_HSK               119380 non-null  uint8
 21  job_INP               119380 non-null  uint8
 22  job_INV               119380 non-null  uint8
 23  job_NOR               119380 non-null  uint8
 24  job_ONB               119380 non-null  uint8
 25  job_PNA               119380 non-null  uint8
 26  job_PNI               119380 non-null  uint8
 27  job_PNS               119380 non-null  uint8
 28  job_PNV               119380 non-null  uint8
 29  job_SPC               119380 non-null  uint8
 30  job_UMN               119380 non-null  uint8
 31  job_WOI               119380 non-null  uint8
 32  job_WRK               119380 non-null  uint8
 33  job_WRP               119380 non-null  uint8
 34  edu_ACD               119380 non-null  uint8
 35  edu_GRD               119380 non-null  uint8
 36  edu_PGR               119380 non-null  uint8
 37  edu_SCH               119380 non-null  uint8
 38  edu_UGR               119380 non-null  uint8
dtypes: float64(7), int64(2), uint8(30)
memory usage: 16.6 MB

In [71]:
test = pd.concat([  test, 
                    pd.get_dummies(test['gender'], prefix="gender"),
                    pd.get_dummies(test['marital_status'], prefix="marital_status"),
                    pd.get_dummies(test['job'], prefix="job"),
                    pd.get_dummies(test['edu'], prefix="edu")],
                    axis=1)
test.drop(["gender", "marital_status", "job", "edu"], axis=1, inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51163 entries, 1019 to 40557
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   51163 non-null  float64
 1   sum_of_credit         51163 non-null  float64
 2   credit_term           51163 non-null  int64
 3   tarrif_id             51163 non-null  float64
 4   score_shk             51163 non-null  float64
 5   income                51163 non-null  float64
 6   credit_count          51163 non-null  float64
 7   overdue_credit_count  51163 non-null  float64
 8   flag                  51163 non-null  int64
 9   gender_F              51163 non-null  uint8
 10  gender_M              51163 non-null  uint8
 11  marital_status_CIV    51163 non-null  uint8
 12  marital_status_DIV    51163 non-null  uint8
 13  marital_status_MAR    51163 non-null  uint8
 14  marital_status_UNM    51163 non-null  uint8
 15  marital_status_WID    51163 non-null  uint8
 16  job_ATP               51163 non-null  uint8
 17  job_BIS               51163 non-null  uint8
 18  job_BIU               51163 non-null  uint8
 19  job_DIR               51163 non-null  uint8
 20  job_HSK               51163 non-null  uint8
 21  job_INP               51163 non-null  uint8
 22  job_NOR               51163 non-null  uint8
 23  job_PNA               51163 non-null  uint8
 24  job_PNI               51163 non-null  uint8
 25  job_PNS               51163 non-null  uint8
 26  job_PNV               51163 non-null  uint8
 27  job_SPC               51163 non-null  uint8
 28  job_UMN               51163 non-null  uint8
 29  job_WOI               51163 non-null  uint8
 30  job_WRK               51163 non-null  uint8
 31  job_WRP               51163 non-null  uint8
 32  edu_ACD               51163 non-null  uint8
 33  edu_GRD               51163 non-null  uint8
 34  edu_PGR               51163 non-null  uint8
 35  edu_SCH               51163 non-null  uint8
 36  edu_UGR               51163 non-null  uint8
dtypes: float64(7), int64(2), uint8(28)
memory usage: 7.3 MB

Тест Шапиро-Уилка

In [72]:
def normal_test(ser):
    stat, p = sp.stats.shapiro(ser)

    alpha = 0.05
    if p > alpha:
        return 'Похоже на нормальное распределение'
    else:
        return 'Не похоже на нормальное распределение'

In [73]:
for name in train.columns[:9]:
    print(name, normal_test(train[name]))

age Не похоже на нормальное распределение
sum_of_credit Не похоже на нормальное распределение
credit_term Не похоже на нормальное распределение
tarrif_id Не похоже на нормальное распределение
score_shk Не похоже на нормальное распределение
income Не похоже на нормальное распределение
credit_count Не похоже на нормальное распределение
overdue_credit_count Не похоже на нормальное распределение
flag Не похоже на нормальное распределение

c:\Users\Николай\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_morestats.py:1800: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [74]:
for name in test.columns[:9]:
    print(name, normal_test(test[name]))

age Не похоже на нормальное распределение
sum_of_credit Не похоже на нормальное распределение
credit_term Не похоже на нормальное распределение
tarrif_id Не похоже на нормальное распределение
score_shk Не похоже на нормальное распределение
income Не похоже на нормальное распределение
credit_count Не похоже на нормальное распределение
overdue_credit_count Не похоже на нормальное распределение
flag Не похоже на нормальное распределение

In [75]:
corr_matrix_train = train.corr()
corr_matrix_test = test.corr()

In [76]:
corr_matrix_train

,age,sum_of_credit,credit_term,tarrif_id,score_shk,income,credit_count,overdue_credit_count,flag,gender_F,...,job_SPC,job_UMN,job_WOI,job_WRK,job_WRP,edu_ACD,edu_GRD,edu_PGR,edu_SCH,edu_UGR
age,1.000000,-0.098405,0.006240,-0.110119,-0.169003,-0.015153,1.143208e-01,7.081771e-03,-0.034748,0.125798,...,-0.155729,-0.004007,-0.002472,-0.008503,0.049079,0.002233,-0.060217,-0.003911,0.119265,-0.126086
sum_of_credit,-0.098405,1.000000,0.229523,0.091613,0.055526,0.348630,1.640763e-02,-2.993325e-03,-0.073952,-0.033438,...,-0.072479,0.067233,-0.004422,-0.013467,-0.005231,0.011328,0.176898,0.019019,-0.186291,0.018282
credit_term,0.006240,0.229523,1.000000,-0.058819,0.042529,0.007924,4.825116e-02,4.581232e-03,0.025228,0.001231,...,-0.003917,-0.010776,0.006244,-0.002002,0.005786,-0.000760,0.007421,0.011882,-0.006157,-0.005321
tarrif_id,-0.110119,0.091613,-0.058819,1.000000,0.397488,0.015002,-5.122880e-02,8.231539e-02,-0.066149,-0.012238,...,0.025744,-0.021485,0.003426,0.010538,-0.000447,0.007633,-0.061665,0.003974,0.037716,0.047605
score_shk,-0.169003,0.055526,0.042529,0.397488,1.000000,-0.104909,-9.110441e-02,1.622842e-01,0.050244,0.011650,...,0.038415,-0.046544,0.005361,0.013789,-0.001096,-0.011410,-0.250092,-0.034796,0.223641,0.059946
income,-0.015153,0.348630,0.007924,0.015002,-0.104909,1.000000,1.431234e-01,3.544061e-02,-0.025408,-0.202955,...,-0.155875,0.126024,-0.007033,-0.006562,0.000714,0.022948,0.215566,0.049388,-0.229871,0.020980
credit_count,0.114321,0.016408,0.048251,-0.051229,-0.091104,0.143123,1.000000e+00,1.753623e-01,0.033353,0.013617,...,-0.025433,0.024947,0.000283,0.008099,0.021396,0.005375,0.031541,0.013758,-0.026002,-0.014943
overdue_credit_count,0.007082,-0.002993,0.004581,0.082315,0.162284,0.035441,1.753623e-01,1.000000e+00,0.022867,-0.001975,...,-0.013156,0.010355,0.002100,0.007156,-0.000417,0.002610,0.022573,0.005414,-0.020767,-0.004899
flag,-0.034748,-0.073952,0.025228,-0.066149,0.050244,-0.025408,3.335251e-02,2.286680e-02,1.000000,-0.045536,...,-0.046619,0.011144,0.008121,-0.000706,0.004784,0.001425,-0.082885,0.001806,0.078661,0.006417
gender_F,0.125798,-0.033438,0.001231,-0.012238,0.011650,-0.202955,1.361690e-02,-1.975031e-03,-0.045536,1.000000,...,0.023421,-0.020893,0.000032,-0.021220,0.003115,-0.006327,0.074238,-0.008148,-0.062280,-0.020971
gender_M,-0.125798,0.033438,-0.001231,0.012238,-0.011650,0.202955,-1.361690e-02,1.975031e-03,0.045536,-1.000000,...,-0.023421,0.020893,-0.000032,0.021220,-0.003115,0.006327,-0.074238,0.008148,0.062280,0.020971
marital_status_CIV,-0.024067,-0.001140,0.013568,0.017965,0.015016,-0.005421,7.486717e-03,-6.754809e-04,0.009149,0.026152,...,0.009562,-0.014084,0.004724,0.019426,-0.001694,-0.001859,-0.019458,0.005023,0.015149,0.007665
marital_status_DIV,0.114117,-0.026163,-0.000614,-0.012169,0.009459,-0.010377,2.992949e-02,8.047126e-03,0.005775,0.111935,...,-0.011484,0.006917,0.001651,0.000728,-0.000139,0.002762,-0.002487,0.001971,0.014182,-0.025666
marital_status_MAR,0.133123,-0.036496,-0.005930,-0.066111,-0.150036,0.062380,5.598466e-02,1.331991e-02,-0.065278,-0.093613,...,-0.020104,0.011280,-0.004920,-0.007663,-0.005202,0.000144,0.036217,0.000111,-0.005144,-0.065161
marital_status_UNM,-0.281083,0.066714,0.001786,0.077366,0.149629,-0.043789,-8.944273e-02,-2.018705e-02,0.060318,-0.015741,...,0.039850,-0.004850,0.001451,0.001905,-0.004487,-0.001648,-0.016954,-0.001815,-0.025108,0.089526
marital_status_WID,0.233974,-0.032686,0.001491,-0.013631,0.003670,-0.048990,2.329599e-02,2.705261e-03,0.010844,0.116007,...,-0.045514,-0.023116,0.003932,-0.002057,0.035160,0.001074,-0.045709,-0.004145,0.053557,-0.016850
job_ATP,-0.007504,-0.037659,0.012423,-0.002616,0.029319,-0.055036,-1.420151e-02,-3.322580e-03,0.037944,0.006875,...,-0.248667,-0.043881,-0.005859,-0.007922,-0.003167,0.001983,-0.067708,-0.001661,0.062809,0.008993
job_BIS,0.045790,0.072222,-0.000020,0.006557,-0.007316,0.143263,8.525013e-03,6.267557e-03,-0.010333,-0.036155,...,-0.357156,-0.063026,-0.008415,-0.011378,-0.004549,-0.002819,0.020230,0.005659,-0.016199,-0.009157
job_BIU,-0.003176,-0.001712,0.011563,0.000557,0.004713,0.000451,-7.836792e-03,2.624021e-03,0.014295,-0.009913,...,-0.051179,-0.009031,-0.001206,-0.001630,-0.000652,-0.000670,-0.002339,-0.001527,-0.003831,0.013491
job_DIR,0.044085,0.080063,-0.009282,0.000585,-0.040177,0.161166,3.208156e-02,1.349515e-02,-0.012743,-0.037800,...,-0.289646,-0.051112,-0.006824,-0.009227,-0.003689,0.009777,0.094534,0.032131,-0.095829,-0.003889
job_HSK,-0.000104,-0.004930,0.000051,-0.000238,0.000665,-0.003826,-5.237122e-03,-1.582895e-03,-0.000171,0.006812,...,-0.013674,-0.002413,-0.000322,-0.000436,-0.000174,-0.000179,-0.006089,-0.000408,0.002185,0.008265
job_INP,0.006285,0.012609,0.014543,-0.003789,-0.011675,0.039991,1.527392e-02,7.151563e-03,0.010111,-0.012431,...,-0.072619,-0.012815,-0.001711,-0.002313,-0.000925,0.025548,-0.004393,0.001718,0.000162,0.005724
job_INV,0.006820,-0.004001,0.004449,-0.002210,0.000790,-0.003748,-5.655387e-03,-1.444973e-03,0.010610,0.001037,...,-0.012482,-0.002203,-0.000294,-0.000398,-0.000159,-0.000163,-0.005559,-0.000372,0.006310,-0.001619
job_NOR,-0.014454,-0.007484,0.006718,0.015145,0.021699,-0.007684,-7.799083e-03,3.704087e-03,0.028223,-0.003744,...,-0.108412,-0.019131,-0.002554,-0.003454,-0.001381,0.004508,-0.007750,0.009798,0.000970,0.011340
job_ONB,-0.003977,-0.002175,-0.006542,-0.002755,-0.004253,-0.002683,4.381046e-17,-5.032561e-18,0.006265,-0.003012,...,-0.005582,-0.000985,-0.000132,-0.000178,-0.000071,-0.000073,-0.002486,-0.000167,0.002822,-0.000724
job_PNA,0.328657,-0.061537,0.019031,-0.041200,0.001436,-0.110870,-1.608103e-02,-9.472792e-03,0.075269,0.066665,...,-0.302762,-0.053427,-0.007133,-0.009645,-0.003856,0.000373,-0.061817,-0.004266,0.075717,-0.029977
job_PNI,0.015004,-0.007605,0.007438,0.000982,-0.004950,-0.014822,-5.357314e-03,-1.933864e-03,0.005687,-0.002099,...,-0.035749,-0.006308,-0.000842,-0.001139,-0.000455,-0.000468,-0.009517,-0.001067,0.006314,0.006886
job_PNS,0.020668,0.002695,0.007330,-0.003669,0.001995,-0.000157,-5.767893e-04,-2.043543e-03,0.005388,0.005130,...,-0.017653,-0.003115,-0.000416,-0.000562,-0.000225,-0.000231,-0.004158,-0.000527,-0.000232,0.009374
job_PNV,0.024766,-0.003185,0.001056,-0.003597,-0.007668,-0.009602,1.668294e-03,-5.173025e-04,0.000368,-0.010079,...,-0.029009,-0.005119,-0.000683,-0.000924,-0.000369,-0.000380,-0.000521,0.008847,0.001291,-0.003762
job_SPC,-0.155729,-0.072479,-0.003917,0.025744,0.038415,-0.155875,-2.543288e-02,-1.315626e-02,-0.046619,0.023421,...,1.000000,-0.656428,-0.087642,-0.118506,-0.047380,-0.017797,-0.091260,-0.036643,0.090201,0.010923
job_UMN,-0.004007,0.067233,-0.010776,-0.021485,-0.046544,0.126024,2.494718e-02,1.035491e-02,0.011144,-0.020893,...,-0.656428,1.000000,-0.015466,-0.020912,-0.008361,0.009919,0.136119,0.030692,-0.133307,-0.011292
job_WOI,-0.002472,-0.004422,0.006244,0.003426,0.005361,-0.007033,2.832358e-04,2.100492e-03,0.008121,0.000032,...,-0.087642,-0.015466,1.000000,-0.002792,-0.001116,0.006176,-0.015485,0.000606,-0.001889,0.035713
job_WRK,-0.008503,-0.013467,-0.002002,0.010538,0.013789,-0.006562,8.099222e-03,7.156341e-03,-0.000706,-0.021220,...,-0.118506,-0.020912,-0.002792,1.000000,-0.001509,0.014725,-0.029794,-0.001150,0.019937,0.018927
job_WRP,0.049079,-0.005231,0.005786,-0.000447,-0.001096,0.000714,2.139563e-02,-4.172776e-04,0.004784,0.003115,...,-0.047380,-0.008361,-0.001116,-0.001509,1.000000,0.026434,-0.007294,0.004535,-0.003352,0.018494
edu_ACD,0.002233,0.011328,-0.000760,0.007633,-0.011410,0.022948,5.375491e-03,2.610285e-03,0.001425,-0.006327,...,-0.017797,0.009919,0.006176,0.014725,0.026434,1.000000,-0.021678,-0.001452,-0.025886,-0.006314
edu_GRD,-0.060217,0.176898,0.007421,-0.061665,-0.250092,0.215566,3.154073e-02,2.257294e-02,-0.082885,0.074238,...,-0.091260,0.136119,-0.015485,-0.029794,-0.007294,-0.021678,1.000000,-0.049424,-0.880904,-0.214848
edu_PGR,-0.003911,0.019019,0.011882,0.003974,-0.034796,0.049388,1.375829e-02,5.413704e-03,0.001806,-0.008148,...,-0.036643,0.030692,0.000606,-0.001150,0.004535,-0.001452,-0.049424,1.000000,-0.059019,-0.014394
edu_SCH,0.119265,-0.186291,-0.006157,0.037716,0.223641,-0.229871,-2.600157e-02,-2.076723e-02,0.078661,-0.062280,...,0.090201,-0.133307,-0.001889,0.019937,-0.003352,-0.025886,-0.880904,-0.059019,1.000000,-0.256555
edu_UGR,-0.126086,0.018282,-0.005321,0.047605,0.059946,0.020980,-1.494270e-02,-4.898591e-03,0.006417,-0.020971,...,0.010923,-0.011292,0.035713,0.018927,0.018494,-0.006314,-0.214848,-0.014394,-0.256555,1.000000

In [77]:
corr_matrix_test

,age,sum_of_credit,credit_term,tarrif_id,score_shk,income,credit_count,overdue_credit_count,flag,gender_F,...,job_SPC,job_UMN,job_WOI,job_WRK,job_WRP,edu_ACD,edu_GRD,edu_PGR,edu_SCH,edu_UGR
age,1.000000,-0.091942,0.009175,-0.106947,-0.159469,-0.014126,0.106003,0.008525,-0.022945,0.124726,...,-0.163095,0.004809,-0.009405,-0.013221,0.052694,0.004567,-0.061469,-0.007032,0.120473,-0.127710
sum_of_credit,-0.091942,1.000000,0.225852,0.088326,0.051578,0.357764,0.013031,-0.005744,-0.067636,-0.035318,...,-0.070325,0.066426,-0.005872,-0.013688,-0.003363,0.001643,0.183236,0.019206,-0.193520,0.021427
credit_term,0.009175,0.225852,1.000000,-0.050355,0.035472,0.007141,0.051200,0.010214,0.027080,-0.009041,...,-0.005156,-0.012415,0.007179,0.005524,0.015353,-0.015371,0.012959,0.017385,-0.011282,-0.006036
tarrif_id,-0.106947,0.088326,-0.050355,1.000000,0.399635,0.008145,-0.054674,0.088666,-0.070335,-0.014148,...,0.024604,-0.018927,0.004013,0.014821,-0.005969,-0.001023,-0.057630,0.002768,0.038952,0.038496
score_shk,-0.159469,0.051578,0.035472,0.399635,1.000000,-0.113130,-0.086349,0.164087,0.045496,0.014612,...,0.034650,-0.039523,0.001571,0.025909,-0.008991,-0.018770,-0.246943,-0.039905,0.223284,0.057512
income,-0.014126,0.357764,0.007141,0.008145,-0.113130,1.000000,0.146025,0.027859,-0.019715,-0.200498,...,-0.157522,0.126432,-0.008710,-0.010266,-0.005477,0.031909,0.211347,0.049247,-0.226431,0.021724
credit_count,0.106003,0.013031,0.051200,-0.054674,-0.086349,0.146025,1.000000,0.181779,0.035788,0.016258,...,-0.020418,0.029592,-0.003533,0.011990,-0.001231,0.006304,0.029122,0.016226,-0.023486,-0.016249
overdue_credit_count,0.008525,-0.005744,0.010214,0.088666,0.164087,0.027859,0.181779,1.000000,0.020829,-0.000021,...,-0.007118,0.013471,-0.001196,0.001258,-0.002682,-0.001716,0.018729,0.012151,-0.018180,-0.003613
flag,-0.022945,-0.067636,0.027080,-0.070335,0.045496,-0.019715,0.035788,0.020829,1.000000,-0.041688,...,-0.055149,0.012674,0.005886,0.005920,-0.003251,0.009383,-0.081443,0.003296,0.077824,0.004156
gender_F,0.124726,-0.035318,-0.009041,-0.014148,0.014612,-0.200498,0.016258,-0.000021,-0.041688,1.000000,...,0.023239,-0.026238,0.006909,-0.013154,0.004730,-0.014428,0.077864,-0.005203,-0.067296,-0.018249
gender_M,-0.124726,0.035318,0.009041,0.014148,-0.014612,0.200498,-0.016258,0.000021,0.041688,-1.000000,...,-0.023239,0.026238,-0.006909,0.013154,-0.004730,0.014428,-0.077864,0.005203,0.067296,0.018249
marital_status_CIV,-0.015395,-0.004017,0.015828,0.018115,0.005751,-0.004628,0.008978,0.014242,0.013965,0.021690,...,0.011109,-0.013172,0.001062,0.017641,-0.004337,0.001202,-0.017788,0.006065,0.010425,0.013874
marital_status_DIV,0.113445,-0.032375,-0.004576,-0.023815,0.005895,-0.014781,0.022472,0.006729,0.003811,0.115911,...,-0.010561,-0.001577,-0.005250,0.000155,0.000412,-0.005601,0.002435,0.002000,0.006975,-0.020195
marital_status_MAR,0.130661,-0.029650,-0.006246,-0.060143,-0.143839,0.066944,0.050730,0.015258,-0.071416,-0.094494,...,-0.022458,0.017822,-0.006422,-0.011209,0.002961,0.004650,0.033814,0.003226,-0.005718,-0.061284
marital_status_UNM,-0.281580,0.064408,0.001648,0.078832,0.146405,-0.046181,-0.080243,-0.024468,0.063966,-0.015786,...,0.043334,-0.008436,0.011121,0.007567,-0.010166,-0.000676,-0.017753,-0.005749,-0.019186,0.080979
marital_status_WID,0.230854,-0.031697,0.008981,-0.013826,0.011291,-0.048834,0.024645,-0.004101,0.019882,0.113133,...,-0.051529,-0.017456,-0.003540,-0.004850,0.026496,-0.003555,-0.046890,-0.003574,0.056161,-0.019841
job_ATP,-0.006944,-0.041992,0.014333,-0.000101,0.029622,-0.050489,-0.015214,-0.004788,0.038867,0.009521,...,-0.250632,-0.043690,-0.005883,-0.008230,-0.003520,-0.003179,-0.066573,-0.004811,0.067055,-0.001014
job_BIS,0.041788,0.072341,-0.005368,0.003853,-0.008688,0.141090,0.000018,0.001256,-0.004217,-0.028715,...,-0.351337,-0.061245,-0.008247,-0.011536,-0.004935,0.004607,0.017491,0.006909,-0.013438,-0.010581
job_BIU,0.000703,0.016779,0.016525,-0.005763,-0.001817,0.003710,-0.011489,-0.002859,0.011730,-0.020188,...,-0.055637,-0.009699,-0.001306,-0.001827,-0.000781,-0.000706,-0.006787,-0.001660,-0.000732,0.016595
job_DIR,0.048928,0.081273,-0.010063,-0.006353,-0.049119,0.170157,0.030191,0.005100,-0.007118,-0.039856,...,-0.289593,-0.050482,-0.006798,-0.009509,-0.004067,0.028981,0.096594,0.028487,-0.097858,-0.005272
job_HSK,-0.001497,-0.006647,-0.007898,0.000733,0.003634,0.001204,-0.003984,-0.001409,0.005288,0.006024,...,-0.012136,-0.002116,-0.000285,-0.000399,-0.000170,-0.000154,-0.005393,-0.000362,0.006095,-0.001532
job_INP,0.005340,0.007943,0.013815,0.002212,0.000547,0.033972,0.005650,0.001957,0.009900,-0.001396,...,-0.072868,-0.012702,-0.001710,-0.002393,-0.001023,-0.000924,-0.002865,0.024927,-0.007218,0.015612
job_NOR,-0.013654,-0.010401,0.021932,0.006960,0.013848,-0.008142,-0.011423,-0.009406,0.025127,-0.007327,...,-0.109059,-0.019011,-0.002560,-0.003581,-0.001532,-0.001383,-0.016714,0.008839,0.005895,0.020955
job_PNA,0.332207,-0.060753,0.018525,-0.034314,0.004917,-0.108202,-0.018109,-0.005765,0.080761,0.064588,...,-0.304904,-0.053151,-0.007157,-0.010012,-0.004282,-0.003868,-0.067958,-0.004678,0.082459,-0.031320
job_PNI,0.014659,-0.013975,0.013975,0.003001,-0.002265,-0.016684,-0.006980,-0.004679,0.008866,-0.011645,...,-0.042051,-0.007330,-0.000987,-0.001381,-0.000591,-0.000533,-0.000437,-0.001255,0.001252,-0.001403
job_PNS,0.016279,0.012878,0.001764,-0.005901,-0.004943,-0.000282,-0.000377,-0.001409,0.013477,0.006024,...,-0.012136,-0.002116,-0.000285,-0.000399,-0.000170,-0.000154,0.007248,-0.000362,-0.006414,-0.001532
job_PNV,0.024889,-0.008421,0.002431,-0.002919,-0.005638,-0.011745,-0.000254,0.002325,0.005454,-0.009183,...,-0.030945,-0.005394,-0.000726,-0.001016,-0.000435,-0.000393,-0.003834,-0.000923,0.005726,-0.003906
job_SPC,-0.163095,-0.070325,-0.005156,0.024604,0.034650,-0.157522,-0.020418,-0.007118,-0.055149,0.023239,...,1.000000,-0.656796,-0.088444,-0.123717,-0.052920,-0.020481,-0.079767,-0.038375,0.078622,0.012426
job_UMN,0.004809,0.066426,-0.012415,-0.018927,-0.039523,0.126432,0.029592,0.013471,0.012674,-0.026238,...,-0.656796,1.000000,-0.015417,-0.021566,-0.009225,0.012598,0.126987,0.035061,-0.125852,-0.009668
job_WOI,-0.009405,-0.005872,0.007179,0.004013,0.001571,-0.008710,-0.003533,-0.001196,0.005886,0.006909,...,-0.088444,-0.015417,1.000000,-0.002904,-0.001242,0.016346,-0.021053,-0.002639,0.001416,0.040903
job_WRK,-0.013221,-0.013688,0.005524,0.014821,0.025909,-0.010266,0.011990,0.001258,0.005920,-0.013154,...,-0.123717,-0.021566,-0.002904,1.000000,-0.001738,-0.001569,-0.030700,-0.003691,0.022704,0.017682
job_WRP,0.052694,-0.003363,0.015353,-0.005969,-0.008991,-0.005477,-0.001231,-0.002682,-0.003251,0.004730,...,-0.052920,-0.009225,-0.001242,-0.001738,1.000000,-0.000671,-0.006110,-0.001579,0.000739,0.011942
edu_ACD,0.004567,0.001643,-0.015371,-0.001023,-0.018770,0.031909,0.006304,-0.001716,0.009383,-0.014428,...,-0.020481,0.012598,0.016346,-0.001569,-0.000671,1.000000,-0.021240,-0.001426,-0.025260,-0.006033
edu_GRD,-0.061469,0.183236,0.012959,-0.057630,-0.246943,0.211347,0.029122,0.018729,-0.081443,0.077864,...,-0.079767,0.126987,-0.021053,-0.030700,-0.006110,-0.021240,1.000000,-0.049953,-0.884934,-0.211372
edu_PGR,-0.007032,0.019206,0.017385,0.002768,-0.039905,0.049247,0.016226,0.012151,0.003296,-0.005203,...,-0.038375,0.035061,-0.002639,-0.003691,-0.001579,-0.001426,-0.049953,1.000000,-0.059408,-0.014190
edu_SCH,0.120473,-0.193520,-0.011282,0.038952,0.223284,-0.226431,-0.023486,-0.018180,0.077824,-0.067296,...,0.078622,-0.125852,0.001416,0.022704,0.000739,-0.025260,-0.884934,-0.059408,1.000000,-0.251379
edu_UGR,-0.127710,0.021427,-0.006036,0.038496,0.057512,0.021724,-0.016249,-0.003613,0.004156,-0.018249,...,0.012426,-0.009668,0.040903,0.017682,0.011942,-0.006033,-0.211372,-0.014190,-0.251379,1.000000